<style>
  @media(min-width: 992px) {
    #nav .nav-item, #nav .dropdown-item { font-size: 0.8rem }
  }
  #nav .nav-item { padding-right: 1rem; }
  #nav .nav-link.active { font-weight: bold }
</style>
<div id="nav">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" style="text-decoration: none" href="/">
      <span class="zt">A</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= ul_nav [], ul_class: 'navbar-nav mr-auto', li_class: 'nav-item', a_class: 'nav-link' %>
      <ul class="navbar-nav ml-auto">
        <% if current_account %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
              <%= current_account.name %> <b class="caret"></b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/accounts/edit">Edit profile</a>
              <a class="dropdown-item" href="<%= "/u/#{current_account.username}/coins" %>">Portfolio</a>
              <a class="dropdown-item" href="/sign_out">Sign out</a>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/sign_in">Sign in</a>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
<script>
  $("#nav a[href^=http]").attr('target', '_blank')
  $('.dropdown-item.active').closest('.dropdown').find('.dropdown-toggle').css({'font-weight': 'bold', 'color': 'rgba(0, 0, 0, 0.9)'})
</script>
