<div class="my-5">
  <%= partial :pair %>
</div>

<div class="text-center mt-5">
  <a target="_blank" class="btn btn-lg d-block d-sm-inline-block btn-primary mb-1 mb-sm-0" href="https://autopia.substack.com/">
    Subscribe via Substack
  </a>
</div>
<div class="text-center my-1 mb-5">
  <a target="_blank" class="btn btn-lg d-block d-sm-inline-block btn-outline-primary mb-1 mb-sm-0" href="https://docs.google.com/document/d/1k4zHK4odbqsZtE4bC1bJ94NQdxCDbvQlZd-SfG_3BGk/edit#">
    Read the Autopia Codex
  </a>
  <a target="_blank" class="btn btn-lg d-block d-sm-inline-block btn-outline-primary mb-1 mb-sm-0" href="mailto:team@autopia.co">
    Email us
  </a>
</div>

<%= partial :balances %>
