<div class="my-5">
  <%= partial :pair %>
</div>

<div class="text-center my-5">
  <a target="_blank" class="btn btn-lg btn-primary" href="https://autopia.substack.com/">
    Subscribe via Substack
  </a>
</div>

<%= partial :balances %>
