<h1 class="text-center mt-3 mb-0">
  <a class="zt rainbow" style="font-size: 5rem; text-decoration: none" href="/">Autopia</a>
</h1>
<p class="lead text-center">
  <em>a cryptoeconomic experiment in community and co-creation</em>
</p>

<div class="my-5">
  <%= cp :pair %>
</div>

<div class="text-center mt-5">
  <a target="_blank" class="btn btn-lg d-block d-sm-inline-block btn-primary mb-1 mb-sm-0" href="https://autopia.substack.com/">
    Subscribe via Substack
  </a>
</div>
<div class="text-center my-1 mb-5">
  <a target="_blank" class="btn btn-lg d-block d-sm-inline-block btn-outline-primary mb-1 mb-sm-0" href="https://docs.google.com/document/d/1k4zHK4odbqsZtE4bC1bJ94NQdxCDbvQlZd-SfG_3BGk/edit#">
    Read the Autopia Codex
  </a>
  <a target="_blank" class="btn btn-lg d-block d-sm-inline-block btn-outline-primary mb-1 mb-sm-0" href="mailto:team@autopia.co">
    Email us
  </a>
</div>

<%= cp(:balances, key: "balances?signed_in=#{current_account ? 1 : 0}", expires: 1.hours.to_i) %>
