<div class="my-5">
  <%= partial :pair %>
</div>

<div class="text-center my-5">
  <a target="_blank" class="btn btn-lg btn-primary" href="https://autopia.substack.com/">
    Subscribe via Substack
  </a>
  <a target="_blank" class="btn btn-lg btn-outline-primary" href="https://docs.google.com/document/d/1k4zHK4odbqsZtE4bC1bJ94NQdxCDbvQlZd-SfG_3BGk/edit#">
    Read the Autopia Codex
  </a>
</div>

<%= partial :balances %>
